:root {
  --pink: rgb(237, 181, 190);
  --teal: rgb(7, 138, 114);
  --gray: rgb(177, 177, 177);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  margin: 30px 0 10px;
  font-size: 2.3rem;
  font-family: 'Sixtyfour', sans-serif;
  color: var(--pink);
}

.five-dice {
  display: flex;
  padding: 5px;
}

.roll-button {
  background-color: var(--teal);
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.roll-button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}

.die {
  font-size: 4rem;
  color: var(--teal);
  padding: 5px;
}

.die-disabled {
  font-size: 4rem;
  color: var(--gray);
  padding: 5px;
}

table {
  justify-content: center;
  margin-top: 10px;
  background-color: var(--pink);
  padding: 15px;
}

th {
  font-size: 1.4rem;
  font-family: 'Sixtyfour', sans-serif;
  padding: 0 30px;
  padding-bottom: 15px;
  color: white;
}

tr {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

tr:hover {
  font-size: 1.4em;
  color: var(--teal);
  cursor: pointer;
}

tr.clicked:hover {
  font-size: 1.3rem;
  color: var(--teal);
  cursor: default;
}

td {
  border-bottom: 1.5px solid white;
  border-right: 2px solid white;
  padding: 5px;
}

td:last-child {
  border-right: none;
}

tr:nth-child(6) > td,
tr:nth-child(13) > td {
  border-bottom: 4px solid white;
}

tr > td:nth-child(2) {
  text-align: center;
  color: var(--teal);
}

.total-score {
  color: var(--teal);
}

tr.total-score:hover {
  font-size: 1.3rem;
  cursor: default;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    margin: 100px 0 40px;
    font-size: 4rem;
  }
  .five-dice {
    padding: 20px;
  }
  .roll-button {
    font-size: 1.8rem;
  }
  .die {
    font-size: 7rem;
    padding: 10px;
  }
  .die-disabled {
    font-size: 7rem;
    padding: 10px;
  }
  table {
    margin-top: 20px;
    padding: 25px;
  }
  th {
    font-size: 1.5rem;
  }
  tr {
    font-size: 1.3rem;
  }
  td {
    padding: 0;
  }
}
